body {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #000;
}

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "symbols-technomart";
  src: url("../fonts/symbols-technomart.woff") format("woff"), url("../fonts/symbols-technomart.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  /*
  margin-right: 0.4em;
  margin-left: 0.2em;
*/
  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-technomart";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;
  speak: none;
}

.icon-left::before { content: "\3c"; } /* "<" */
.icon-right::before { content: "\3e"; } /* ">" */
.icon-basket::before { content: "\62"; } /* "b" */
.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-vk::before { content: "\76"; } /* "v" */
.icon-up::before { content: "\2c4"; } /* "˄" */
.icon-down::before { content: "\2c5"; } /* "˅" */
.icon-left-big::before { content: "\2190"; } /* "←" */
.icon-right-big::before { content: "\2192"; } /* "→" */
.icon-login::before { content: "\2386"; } /* "⎆" */
.icon-logout::before { content: "\241b"; } /* "␛" */
.icon-up-dir::before { content: "\25b2"; } /* "▲" */
.icon-down-dir::before { content: "\25bc"; } /* "▼" */
.icon-circle::before { content: "\25cb"; } /* "○" */
.icon-circle-dot::before { content: "\25cf"; } /* "●" */
.icon-star::before { content: "\2605"; } /* "★" */
.icon-check-off::before { content: "\2610"; } /* "☐" */
.icon-check-on::before { content: "\2611"; } /* "☑" */
.icon-youtube::before { content: "\f39e"; } /* "" */
.icon-home::before { content: "🏠"; } /* "\1f3e0" */
.icon-user::before { content: "👨"; } /* "\1f468" */
.icon-phone::before { content: "📞"; } /* "\1f4de" */
.icon-instagramm::before { content: "📷"; } /* "\1f4f7" */
.icon-search::before { content: "🔍"; } /* "\1f50d" */
.icon-bookmark::before { content: "🔖"; } /* "\1f516" */

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.inactive {
  display: none; /* <---- окно в неактивном состоянии ----*/
}

h1 {
  font-size: 30px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #32425c;
}

h2 {
  font-size: 30px;
  font-weight: 400;
  line-height: 1.2;
  text-transform: uppercase;
}

p {
  font-size: 13px;
  font-weight: 400;
  font-family: "PT Sans";
  line-height: 24px;
}

ul.horizontal {
  margin: 0;
  padding: 0;
}

ul.horizontal li {
  display: inline-block;
  vertical-align: top;
}

ul.horizontal li > a,
ul.horizontal li > span {
  display: block;
}

.std-btn,
.main-menu-item-btn {
  box-sizing: border-box;
  display: inline-block;
  padding: 0 20px;
  line-height: 38px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 3px;
}

.std-btn {
  background: #ee3643;
}

.std-btn:hover {
  background: #ca2c37;
}

.std-btn:active {
  background: #ba2732;
}

button {
  border: none;
}


/* ----------------- MAIN-HEADER ----------------- */

.main-header {
  padding-bottom: 60px;
  background: #f1f5f7;
}

.main-header .top-menu {
  height: 42px;
  background: #293449;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.site-logo,
.top-menu .search-field,
.top-menu-action,
.make-order-btn {
  box-sizing: border-box;
  display: inline-block;
  padding: 8px 5px;
  font-size: 17px;
  line-height: 26px;
  text-decoration: none;
  color: #ffffff;
  vertical-align: top;
}

.site-logo {
  width: 220px;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
  background: #ee3643;
  box-shadow: 0 5px #b52933;
}

.top-menu i {
  margin: 0 12px;
  opacity: 0.3;
}

.top-menu .search-field {
  position: relative;
  display: inline-block;
  text-align: left;
  width: 270px;
  height: 42px;
  font-size: 17px;
  background-color: #293449;
}

.search-field input[type="search"] {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 35px;
  width: 200px;
  height: 40px;
  border: none;
  background-color: #293449;
  outline: none;
}

.search-field label[for="search"] {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 270px;
  line-height: 42px;
}

.top-menu-action {
  width: 150px;
  font-size: 17px;
}

.search-field:hover, /*не работает в IE*/
.search-field input[type="search"]:hover, /*не работает в IE*/
.top-menu-action:not(.make-order-btn):hover {
  background-color: #212a3a;
}

.top-menu-action:hover i {
  opacity: 1;
}

.search-field input[type="search"]:active,
.search-field input[type="search"]:focus {
  color: #000000;
  background-color: #ffffff;
}

.search-field #search:active ~ label[for="search"],
.search-field #search:focus ~ label[for="search"] {
  color: #ee3643;
  background-color: #ffffff;
}

.search-field #search:active ~ label[for="search"] i,
.search-field #search:focus ~ label[for="search"] i {
  opacity: 1;
}

.top-menu-action:not(.make-order-btn):active {
  background-color: #161d29;
}

.top-menu-action .icon-bookmark {
  margin-right: 8px;
}

.top-menu-action.full {
  background-color: #ee3643;
}

.make-order-btn {
  width: 150px;
  text-align: center;
  background-color: #63a63e;
}

.main-header-content {
  padding-top: 45px;
  padding-bottom: 40px;
}

.site-description,
.site-contacts,
.site-login {
  width: 300px;
}

.site-description,
.site-contacts {
  float: left;
  margin-right: 20px;
}

.site-description {
  width: 300px;
}

.site-description p {
  margin: 0;
  padding: 3px 0 0 53px;
  /* 100% совпадает с макетом */
  font-style: italic;
  font-size: 16px;
  font-family: "Cuprum", sans-serif;
  line-height: 23px;
  color: #ee3643;
}

.site-contacts {
  width: 270px;
  text-align: center;
}

.phone {
  position: relative;
  box-sizing: border-box;
  padding-left: 22px;
  width: 270px;
  height: 45px;
  font-size: 21px;
  line-height: 2;
  text-align: center;
  border: 3px solid #fff;
}

.phone .icon-phone {
  position: absolute;
  color: #b7bfc8;
  left: 7px;
}

.phone-number {
  color: #e9292a;
}

.site-contacts .address,
.user-profile-controls {
  margin-top: 5px;
}

.site-contacts .address {
  font-size: 14px;
  line-height: 23px;
}

.site-login {
  float: right;
  text-align: right;
}

.site-login-item {
  box-sizing: border-box;
  display: inline-block;
  font-size: 21px;
  padding: 11px 0;
  text-align: center;
  text-decoration: none;
  color: #000000;
  vertical-align: top;
  background: #ffffff;
}

.site-login-item:hover {
  color: #ee3643;
}

.user-profile:hover {
  color: #000000;
}
/* не получается изменить цвет иконки */
.site-login-item:active{
  color: rgba(0, 0, 0, 0.3); 
}

.site-login-enter {
  width: 120px;
  padding-right: 15px;
}

.site-login-item i {
  color: #c5c5c5;
}

.site-login-item:hover i {
  color: #32425c;
}

.site-login-registration {
  width: 150px;
  margin-left: 10px;
}

.user-profile {
  width: 260px;
}

.user-logout {
  width: 40px;
}

.icon-user {
  margin-left: -20px;
  margin-right: 5px;
}

.user-profile-controls {
  text-align: left;
}

.user-profile-controls .user-btn { 
  padding: 0px 13px;
  font-size: 16px;  
  color: #32425c;
}

.dot-divider {
  position: relative;
  display: block;
  width: 4px;
  height: 20px;
}

.dot-divider::after {
  content: "";
  position: absolute;
  top: 0.6em;
  right: 0;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #32425c;  
}

.user-btn:hover {
  color: #ee3643;
}

.user-btn:active {
  color: #32425c;
  opacity: 0.3;
}

.main-header-navigation {
  font-size: 0;
  text-align: center;
  background: #32425c;
  box-shadow: inset 0 -5px #293449;
}

.main-header-navigation .nav-item {
  text-decoration: none;
  color: #ffffff;
  font-size: 17px;
  line-height: 19px;
  padding: 20px 30px;
}

.main-header-navigation a:hover {
  background: #1d2739;
}

.main-header-navigation a:active {
  opacity: 0.5;
}


/* -------------- MAIN-PAGE-C0NTENT -------------- */

.main-menu {
  margin-top: 60px;
  margin-bottom: 35px;
}

.main-menu-item {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 20px;
  padding: 20px;
  padding-left: 23px;
  width: 300px;
  height: 123px;
}

.main-menu-item:first-child,
.main-menu-item:nth-child(2) {
  margin-right: 20px;
}

.main-menu-item.materials,
.main-menu-item.delivery {
  background: #f6b22d;
}

.main-menu-item.tools {
  background: #4aafde;
}

.main-menu-item.technics {
  background: #cc79d1;
}

.main-menu-item.discount {
  background: #85d179;
}

.main-menu-item-title {
  display: block;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #ffffff;
  margin-bottom: 15px;
}

.main-menu-item-btn {
  width: 135px;
  background-color: rgba(0, 0, 0, 0.1);
}

.main-menu-item-btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.main-menu-item-btn:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.main-menu-item-icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 130px;
  height: 123px;
}

.big-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate( -50%, -50%);
  -ms-transform: translate( -50%, -50%);
      transform: translate( -50%, -50%);
  background-image: url(../img/icons-menu/big-icon-sprite.png);
  background-repeat: no-repeat;
  display: block;
}

.big-icon-paint {
  width: 44px;
  height: 67px;
  background-position: -10px -264px;
}

.big-icon-drill {
  width: 76px;
  height: 65px;
  background-position: -10px -182px;
}

.big-icon-tractor {
  width: 88px;
  height: 62px;
  background-position: -10px -351px;
}

.big-icon-cart {
  width: 79px;
  height: 72px;
  background-position: -10px -93px;
}

.big-icon-car {
  width: 88px;
  height: 65px;
  background-position: -10px -8px;
}

.flag {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  overflow: hidden;
  z-index: 20;
}

.new-flag {
  background: url(../img/products/new-flag.png) no-repeat;
}


/* --------------- SLIDER --------------- */

.slider {
  position: relative;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 620px;
}

.slider input[type="radio"] {
  display: none;
}

.slider-inner {
  overflow: hidden;
}

.slider-slides {
  width: 200%;
}

.slider-slides .slider-item {
  position: relative;
  float: left;
  width: 620px;
  height: 266px;
}

.slider-caption {
  position: absolute;
  top: 0;
  padding: 28px 25px;
  color: #ffffff;
}

.slide-title {
  display: block;
  margin-bottom: 12px;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.slide-slogan {
  font-size: 18px;
  font-family: "PT Sans", sans-serif;
  line-height: 24px;
}

.slider-controls {
  position: absolute;
  bottom: 28px;
  left: 0;
  right: 0;
  text-align: center;  
}

.slider-controls label {
  display: inline-block;
  margin-right: 6px;
  width: 6px;
  height: 6px;
  background: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#dot-1:checked ~ .slider-controls label[for="dot-1"] {
  background: #ee3643;
}

#dot-2:checked ~ .slider-controls label[for="dot-2"] {
  background: #ee3643;
}

.slider-nav {
  position: absolute;
  top: 110px;
  left: 0;
  right: 0;
  font-size: 0;
}

.slider-nav .prev-btn,
.slider-nav .next-btn {
  position: absolute;
  text-align: center;
}

.slider-nav .next-btn {
  right: 0;
}

.slider-nav .icon-left::before,
.slider-nav .icon-right::before {
  display: inline-block;
  margin: 0;
  padding: 0 15px;
  text-align: center;
  font-size: 46px;
  color: #ffffff;
  cursor: pointer;
}

#dot-1:checked ~ .slider-inner .slider-slides {
  -webkit-transform: translate(0);
  -ms-transform: translate(0);
      transform: translate(0);
}

#dot-2:checked ~ .slider-inner .slider-slides {
  -webkit-transform: translate(-620px);
  -ms-transform: translate(-620px);
      transform: translate(-620px);
}

.catalog-btn {
  position: absolute;
  left: 25px;
  bottom: 22px;
  width: 195px;
}


/* --------------- END SLIDER --------------- */

.index-content-header {
  padding: 25px;
  background: #f7f3ec;
}

.index-content-title {
  font-size: 30px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #32425c;
}

.all-products-btn {
  float: right;
  width: 253px;
}

.index-content-row {
  margin: 20px 0;
}


/* --------------- product-item --------------- */

.product-item,
.brand {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-right: 16px;
  width: 220px;
  outline: 1px solid #e5e5e5;
}

.product-item {
  padding: 20px;
  padding-top: 5px;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  font-family: "PT Sans", sans-serif;
  text-align: center;
  background-color: #ffffff;
}

.product-item:hover,
.brand:hover {
  outline: none;
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.brand:active {
  box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
}


.product-image {
  width: 180px;
  height: 160px;
}

.actions {
  display: none;
}

.product-item:hover .actions {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 218px;
  height: 88px;
  padding: 40px 0;
  background-color: #ffffff;
  z-index: 10;
}

.action-btn {
  display: block;
  box-sizing: border-box;
  width: 135px;
  margin: 0 auto;
  margin-bottom: 7px;
  font-size: 14px;
  font-family: "Cuprum", sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 3px;
  background-color: #63a63e;
  color: #ffffff;
}

.action-btn.buy {
  position: relative;
  padding: 10px 0;
  box-shadow: inset 0 -3px #367315;
}

.action-btn.buy:hover,
.make-order-btn:hover {
  background-color: #5fbb2d;
}

.action-btn .icon-basket {
  position: absolute;
  left: 13px;
  font-size: 17px;
  line-height: 18px;
  opacity: 0.3;
}

.action-btn.buy:hover .icon-basket {
  opacity: 1;
}

.action-btn.buy:active,
.make-order-btn:active {
  background-color: #518534;
  box-shadow: none;
}

.action-btn.bookmark {
  padding: 7px 0;
  border: 3px solid #63a63e;
  border-bottom-color: #63a63e;
  color: #32425c;
  background: white;
}

.action-btn.bookmark:hover {
  border-color: #32425c;
}

.action-btn.bookmark:active {
  opacity: 0.3;
}

.product-name,
.old-price {
  min-height: 20px;
  padding: 0 10px;
  margin: 10px 0;
  /*  margin-bottom:15px;*/
  font-size: 18px;
  line-height: 20px;
}

.old-price {
  text-transform: uppercase;
  text-decoration: line-through;
  color: #999999;
}

.price {
  position: relative;
  width: 80px;
  margin: 0 auto;
  padding: 11px 30px;
  text-transform: uppercase;
  color: white;
  background: #ee3643;
  border-radius: 3px;
}

.price::after {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  width: 0;
  height: 0;
  border: 20px solid white;
  border-left-color: #ee3643;
}


/* --------------- product-item end --------------- */

.brand {
  height: 145px;
}

.brand img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
}

.product-item:last-of-type,
.brand:nth-of-type(4n) {
  margin-right: 0;
}

.services {
  margin-top: 85px;
  margin-bottom: 80px;
  padding-top: 62px;
  background-color: #f2f6f8;
}

.section-title {
  margin-top: 0;
  margin-bottom: 24px;
}

.section-description {
  margin-bottom: 20px;
}


/* --------------- service-tabs slider --------------- */

.service-tabs {
  position: relative;
  box-sizing: border-box;
  float: left;
  padding: 50px 0;
  width: 240px;
  height: 280px;
  margin-right: 80px;
}

.service-item {
  display: block;
  padding: 18px 20px;
  font-size: 21px;
  font-weight: 700;
  color: #ffffff;
  box-shadow: inset 0 1px #405069, inset 0 -1px #293449;
  background-color: #32425c;
  cursor: pointer;
}

.service-item:hover {
  background-color: #293449;
}

.service-item:active,
#tab-1:checked ~ .service-tabs label[for="tab-1"]>span,
#tab-2:checked ~ .service-tabs label[for="tab-2"]>span,
#tab-3:checked ~ .service-tabs label[for="tab-3"]>span {
  color: #32425c;
  box-shadow: none;
  background-color: #ffffff;
}

.services-slider input {
  display: none;
}

.service-tabs::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: inherit;
  background: url(../img/services/toggle-shadow.png) no-repeat;
}

.services-wrapper {
  overflow: hidden;
}

.service-slides {
  width: 300%;
}

.service-slides .service-description {
  position: relative;
  box-sizing: border-box;
  float: left;
  width: 620px;
  min-height: 333px;
}

.service-content {
  position: relative;
  padding-top: 45px;
}

.service-title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 36px;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  color: #32425c;
}

.service-image {
  position: absolute;
  right: 0;
  top: 50px;
  width: 460px;
  height: 285px;
  background-position: bottom right;
  background-repeat: no-repeat;
}

.credit-btn {
  width: 195px;
}

.service-image.delivery {
  background-image: url(../img/services/service-delivery.png);
}

.service-image.warranty {
  background-image: url(../img/services/service-warranty.png);
}

.service-image.credit {
  background-image: url(../img/services/service-credit.png);
}

#tab-1:checked ~ .services-wrapper .service-slides .service-description {
  -webkit-transform: translate(0);
  -ms-transform: translate(0);
      transform: translate(0);
}

#tab-2:checked ~ .services-wrapper .service-slides .service-description {
  -webkit-transform: translate(-620px);
  -ms-transform: translate(-620px);
      transform: translate(-620px);
}

#tab-3:checked ~ .services-wrapper .service-slides .service-description {
  -webkit-transform: translate(-1240px);
  -ms-transform: translate(-1240px);
      transform: translate(-1240px);
}


/* --------------- service-tabs slider end --------------- */

.information-content {
  position: relative;
  margin-top: 80px;
  margin-bottom: 85px;
}

.information-content .section-description:last-of-type {
  margin-bottom: 0;
}

.information-content .about-company {
  float: left;
  width: 540px;
}

.transport-company {
  margin-bottom: 30px;
  padding-left: 36px;
  list-style: none;
}

.transport-company li {
  position: relative;
  font-size: 18px;
  line-height: 40px;
}

.transport-company li::before {
  content: "";
  position: absolute;
  left: -36px;
  top: 18px;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
}

.company-btn {
  width: 220px;
}

.information-content .contacts {
  float: right;
  width: 300px;
}

.map-image-small {
  margin: 40px 0;
  height: 158px;
}

.map-btn {
  width: 300px;
}

.map-image-big {
  z-index: 100;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 940px;
  height: 450px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  box-shadow: 0 0 16px 1px rgba(35, 31, 32, 0.5);
}

.map-image-big .cross {
  right: -30px;
}

.map-image-big iframe {
  border: none;
}


/* -\--\--\--\--\--\--\ СТРАНИЦА КАТАЛОГА /--/--/--/--/--/--/- */

.breadcrumbs {
  padding: 20px 0;
}

.breadcrumbs ul {
  line-height: 18px;
}

.crumb-link {
  position: relative;
  padding-right: 30px;
  font-size: 13px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}

.crumb-link::after {
  content: "\3e";
  position: absolute;
  right: 13px;
  top: -1px;
  font-size: 14px;
  font-family: "symbols-technomart";
  color: #c1c6ce;
}

.crumb-link.active::after {
  content: "";
}

.icon-home {
  color: #c1c6ce;
}

.main-page-caption {
  padding: 10px 30px;
  margin-bottom: 20px;
  background: #f2f6f8;
}
/*----------основной контент-----------*/
.left-column{
  float: left;
  width: 220px;
  font-weight: 400;
  font-family: "PT Sans", sans-serif;  
  text-transform: uppercase;
}

.column-header {
  position: relative;
  padding: 8px 15px;  
  font-family: "PT Sans", sans-serif;  
  text-transform: uppercase;
  border-radius: 3px;
  background-color: #f7f3ec;
}

.left-column fieldset {
  padding: 5px 0;
  margin: 15px 0;
  border: 0;
}

.left-column fieldset:not(:last-of-type) {
  border-bottom: 1px solid #e5e5e5;
}

.left-column legend {
  font-size: 17px;
  font-weight: 700;
  font-family: "PT Sans", sans-serif;
  line-height: 30px;
  text-transform: uppercase;
}

.left-column ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.left-column li {
  position: relative;
  margin: 15px 0;
  margin-left: 35px;
  line-height: 20px;
}
/*-----------RANGE-FILTER-------------*/

.range-filter {
  width: 220px;
  margin: 15px auto;   
}

.range-controls {
  position: relative;
  height: 41px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  background: #f7f3ec;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 150px;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 4px;
  height: 4px;
  cursor: pointer;
  border: 8px solid #fff;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .toggle-min {
  left: 10px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
  text-align: center;  
}

.price-controls label {
  display: inline-block;
}

.price-divider {
  font-size: 16px;
  display: inline-block;
  width: 30px;
  text-align: center;
}

.price-controls input {
  font-size: 16px;
  width: 95px;
  padding: 8px 0;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  outline: none;
  background: #f7f3ec;
}


/*-----------RANGE-FILTER END-------------*/
.company-filter li {  
  font-size: 15px;  
}

.power-filter li {
  font-size: 14px;
}

.left-column *::before {
  position: absolute;
  left: -35px;
  font-size: 28px;
  color: #c1c1c1;
  font-family: "symbols-technomart";
}

.left-column li:hover label::before {
  color: #b5b5b5;
}

.left-column input:disabled ~ label {
  opacity: 0.3;
}

.left-column input[type="checkbox"],[type="radio"] {
  display: none;
}

.company-filter label::before {
  content: "\2610";  
}

#check-1:checked ~ label[for="check-1"]::before,
#check-2:checked ~ label[for="check-2"]::before, 
#check-3:checked ~ label[for="check-3"]::before, 
#check-4:checked ~ label[for="check-4"]::before, 
#check-5:checked ~ label[for="check-5"]::before {
  content: "\2611";
}

.power-filter label::before {
  content: "\25cb";  
}

#power-1:checked ~ label[for="power-1"]::before, 
#power-2:checked ~ label[for="power-2"]::before {
  content: "\25cf";  
}

.left-column .transparent-btn {
  margin-top: 50px;
  padding: 0;
  outline: none;
}

.right-column {
  float: right;
  width: 700px;
}

.right-column .filter-title {
  margin-right: 75px;
}

.right-column .sort-name {
  display: inline-block;
  margin-left: 65px;
  line-height: 1.2;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #ee3643;  
}

.sort-name:hover {
  color: #000000;
  border-bottom: 1px solid #ee3643;
}

.sort-name.active {
  color: #ee3643;
  border: none;
}

.sort-direction {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  margin-left: 35px;
}

.sort-direction i[class^="icon-"] {
  font-size: 23px;
  line-height: 1;
  color: #c6c2bd;
}

.sort-direction i[class^="icon-"]:hover {
  color: #000000;
}

.arrow-selected i[class^="icon-"],
.arrow-selected i[class^="icon-"]:hover{ /* чтобы активная стрелка не менялась */
  color: #ee3643;
}

.pagination {
  margin-top: 55px;
  margin-bottom: 60px;
}

.page,
.transparent-btn {
  display: inline-block;
  margin-right: 6px;
  width: 43px;
  text-align: center;
  font-size: 13px;
  font-family: "PT Sans", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 43px;
  color: #000000;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  background-color: transparent;
}

.page.current {
  color: #ffffff;
  background: #ee3643;
  border-color: #ee3643;
}

.page:not(.current):hover,
.transparent-btn:hover {
  border-color: #bdc6ca;
}

.page:active:not(.current),
.transparent-btn:active {
  border-color: #ee3643;
}

.transparent-btn {
  width: 140px;
}

.main-page-info {
  padding-top: 45px;
  padding-bottom: 65px;
  background: #f2f6f8;
}

.main-page-info h2 {
  margin-bottom: 30px;
}


/* ------------------ МОДАЛЬНЫЕ ОКНА ------------------- */

.cross {
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 21px;
  height: 21px;
  background-image: url(../img/cross-btn.svg);
  background-repeat: no-repeat;
}

.modal-window {
  position: fixed;
  z-index: 500;
  box-sizing: border-box;
  width: 620px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  background: #fff;
  box-shadow: 
    inset 0 7px #ee3643,
    0 20px 40px rgba(41, 52, 73, 0.75);
}


/* ---------------- ОКНО "ТОВАР В КОРЗИНЕ" ---------------- */

.cart-icon {
  display: inline-block;
  margin-right: 35px;
  width: 65px;
  height: 65px;
  vertical-align: middle;
  background: url(../img/green-circle-checkmark.png) no-repeat center;
}

.cart-title {
  font-size: 30px;
  vertical-align: middle;
}

.modal-btns {
  padding: 38px 80px;
  background: #f1f1f1;
}

.cart-btn {
  width: 220px;
}

.cart-btn.white {
  margin-left: 16px;
  color: #000000;
  background: #ffffff;
}

.cart-btn.white:hover { /*-<<<<<---В макете нет состояний для этой кнопки*/
  background: ; 
}

/* -------------- ОКНО ФОРМЫ ОБРАТНОЙ СВЯЗИ --------------- */

/*.contact-form { }*/

.modal-content {
  box-sizing: border-box;
  padding: 50px 80px;
}

/* ---------------- MAIN-FOOTER ---------------- */

.main-footer-top,
.main-footer-top p {
  font-size: 18px;
  font-family: "Cuprum", sans-serif;
  line-height: 24px;
  color: #f1f5f7;
  background: #32425c;
}

.main-footer-top .footer-contacts {
  float: left;
}

.footer-logo {
  margin-bottom: 18px;
  padding: 17px 0;
  font-size: 30px;
  line-height: 1;
}

.main-footer-top p {
  margin-bottom: 48px;
}

.main-footer-top .footer-menu {
  float: right;
}

.footer-menu ul {
  margin: 35px 0;
  text-align: right;
}

.footer-menu li {
  margin-left: 56px;
}

.footer-menu a {
  text-decoration: none;
  color: #f1f5f7;
}

.footer-menu a:hover,
.main-footer-bottom a:hover {
  text-decoration: underline;
}

.footer-menu a:active {
  text-decoration: none;
  opacity: 0.5;
}

.footer-menu-bottom a,
.main-footer-bottom a {
  text-decoration: none;
  color: #ffd180;
}

.main-footer-bottom {
  padding-top: 35px;
  padding-bottom: 30px;
  font-size: 16px;
  color: #ffffff;
  background: #293449;
}

.main-footer-bottom a:active {
  text-decoration: none;
  color: #ee3643;
}

.main-footer-bottom .copy-company {
  float: left;
  width: 240px;
  margin-right: 150px;
}

.main-footer-bottom .socials {
  float: left;
}

.social {
  display: inline-block;
  vertical-align: top;
  width: 40px;
  height: 40px;
  font-size: 0;
  text-align: center;
  margin-right: 5px;
  border-radius: 50%;
  background-color: #212a3a;
}

.social:hover,
.social:active {
  background-color: #ee3643;
}

.social i {
  font-size: 18px;
  line-height: 40px;
  color: #ffffff;
}

.feedback {
  float: right;
  width: 300px;
}

.feedback-item {
  display: inline-block;
}

.feedback-item.mail {
  width: 150px;
}

.feedback-item.website {
  margin-left: 40px;
  width: 110px;
}